<!DOCTYPE html>
<html>
  <head>
    <title>Reply to Your Question</title>
  </head>
  <body>
    <table
      align="center"
      width="600"
      cellpadding="0"
      cellspacing="0"
      style="border-collapse: collapse"
    >
      <tr>
        <td align="center" bgcolor="#f2f2f2" style="padding: 40px 0">
          <h1>Reply to Your Question</h1>
        </td>
      </tr>
      <tr>
        <td style="padding: 20px">
          <p>Hello <%= name %>,</p>
          <p>A new replay has been added your question in the video:</p>
          <blockquote><%= title %></blockquote>
          <p>Here is the reply to your question:</p>
          <p>Please login and view the replay</p>
          <p>Best regards,</p>
          <p>Your Name</p>
        </td>
      </tr>
      <!-- <tr>
        <td align="center" bgcolor="#f2f2f2" style="padding: 20px 0">
          <p>&copy; <%= currentYear %> Your Company. All rights reserved.</p>
        </td>
      </tr> -->
    </table>
  </body>
</html>
